<div class="sharebut">分享一下</div>

<div class="bdsharebuttonbox">
	<a href="#" id="baidushar" class="bds_qzone" style="background:url(/css/images/qzone.png);" data-cmd="qzone" title="分享到QQ空间"></a>
	<a href="#" id="baidushar" class="bds_tsina" style="background:url(/css/images/tsina.png);" data-cmd="tsina" title="分享到新浪微博"></a>
	<a href="#" id="baidushar" class="bds_weixin" style="background:url(/css/images/weixin.png);" data-cmd="weixin" title="分享到微信"></a>
	<a href="#" id="baidushar" class="bds_tieba" style="background:url(/css/images/tieba.png);" data-cmd="tieba" title="分享到百度贴吧"></a>
</div>
<style type="text/css">
#baidushar{
	border-radius:16px;
	box-shadow:0px 0px 30px -8px #BBB;
	margin-right: 20px;
	width:33px;
	height:33px;
}
</style>
<script>
	window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"32"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
</script>

<style type="text/css">
.bdsharebuttonbox{
	display:none;
}
.sharebut{
	width:100px;
	border:1px solid #000;
	height:30px;
	margin:0 10.8%;
	line-height:30px;
	text-align:center;
	cursor:pointer;
}
</style>
