// Config
support-for-ie = false
vendor-prefixes = webkit moz ms official

// Colors
color-default = #595959
color-grey = #939393
color-border = #ddd
color-background = white

// Fonts
font-default = "Microsoft Jhenghei","Microsoft YaHei","微软雅黑","Droid Serif",Georgia,Serif
font-mono = "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace, '华文中宋'
font-icon = FontAwesome
font-icon-path = "fonts/fontawesome-webfont"
font-icon-version = "4.0.3"
font-size = 17px
line-height = 1.8em
line-height-title = 1em
ul-top = 0em
ul-left = 2em

// Header
logo-size = 50px
subtitle-size = 16px

// Layout
block-margin = 50px
mobile-nav-width = 280px

// Media queries
mq-normal = "screen and (min-width: 840px)"
mq-mobile = "screen and (max-width: 839px)"